<footer class=" py-4 px-6 lg:px-10 border-t flex  justify-center bg-slate-200 shadow-gray-300">
    <div class="w-6xl flex flex-row items-center justify-around text-center gap-44  lg:mx-24">
            <div class="flex">
                <a href="https://twitter.com/artilate_" class="flex hov w-5">
                    <img src="/assets/x.svg" alt="Twitter" />
                </a>
            </div>
            <div class="flex">
                <a href="https://www.instagram.com/artilate/" class="flex hov">
                    <img src="/assets/ig.svg" alt="Instagram" class="w-5 h-auto lg:w-5.5"  />
                </a>
            </div>
            <div class="flex ">
                <a href="https://twitter.com/artilate_" class="flex ml-3 hov">
                    <img src="/assets/facebook.svg" alt="Facebook" class="w-6 h-auto lg:w-7" />
                </a>
            </div>
            <p class="text-sm ">© Artilate 2025 | All rights reserved</p>
</footer>

<style>
   
</style>