<footer class="py-6 px-6 lg:px-10 border-t border-[var(--color-4)] bg-[var(--color-6)] shadow-md text-white">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6 text-center">
    
    <!-- Social Media Links -->
    <div class="flex items-center gap-6">
      <a href="https://twitter.com/artilate_" class="hover:opacity-80 transition-opacity">
        <img src="/assets/x.svg" alt="Twitter" class="w-5 h-auto" />
      </a>
      <a href="https://www.instagram.com/artilate/" class="hover:opacity-80 transition-opacity">
        <img src="/assets/ig.svg" alt="Instagram" class="w-5 h-auto" />
      </a>
      <a href="https://www.facebook.com/artilate" class="hover:opacity-80 transition-opacity">
        <img src="/assets/facebook.svg" alt="Facebook" class="w-6 h-auto" />
      </a>
    </div>

    <!-- Legal Text -->
    <p class="text-sm text-[var(--color-5)]">© Artilate 2025 | All rights reserved</p>
  </div>
</footer>
