<footer class=" py-4 px-6 lg:px-10 border-t flex  justify-center">
    <div class="w-6xl flex flex-row items-center justify-around text-center gap-52  lg:mx-24">
            <div class="flex">
                <a href="https://twitter.com/artilate_" class="flex hov w-5">
                    <img src="/assets/x.svg" alt="Twitter" />
                </a>
            </div>
            <div class="flex">
                <a href="https://www.instagram.com/artilate/" class="flex hov">
                    <img src="/assets/ig.svg" alt="Instagram" class="w-5 h-auto lg:w-5.5"  />
                </a>
            </div>
            <div class="flex ">
                <a href="https://www.linkedin.com/company/artilate/" class="flex ml-6 hov">
                    <img src="/assets/linkedin.svg" alt="linkedin" class="w-9 h-auto lg:w-10" />
                </a>
            </div>
            <div class="flex ">
                <a href="https://twitter.com/artilate_" class="flex ml-3 hov">
                    <img src="/assets/facebook.svg" alt="Facebook" class="w-6 h-auto lg:w-7" />
                </a>
            </div>
</footer>

<style>
   
</style>