---
import { Products } from "../../constants/catalog.js";
import ItemProduct from "./ItemProduct.astro";
---

<div class="py-12 px-4 bg-[var(--color-6)] text-white">
  <h1 class="text-4xl font-extrabold text-center text-[var(--color-3)]">Our Products</h1>
  <p class="text-center text-[var(--color-5)] mt-2 text-lg">
    Explore our collection of amazing saviours to delight your taste buds
  </p>

  <div class="flex justify-center gap-4 flex-wrap mt-6">
    <button disabled class="bg-[var(--color-2)] text-white px-6 py-2 rounded-full shadow-md">Confectionery</button>
    <button disabled class="bg-[var(--color-3)] text-white px-6 py-2 rounded-full shadow-md">Bars</button>
    <button disabled class="bg-[var(--color-4)] text-white px-6 py-2 rounded-full shadow-md">Others</button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 max-w-6xl mx-auto mt-10">
    {Products.map((product) => {
      return <ItemProduct product={product} key={product.id} />;
    })}
  </div>
</div>
