.bord {
    border: 2px solid transparent;
    border-radius: 10px;
    background:
      linear-gradient(white, white) padding-box,
      linear-gradient(225deg, #9a2de4, #d5008b, #e44b8a, #f38c62, #f7c77a)
        border-box;
  }
