---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
export const prerender = true;
import Hero from "../components/Hero.astro";
import FeaturedPrudcuts from "../components/FeaturedProducts.astro";
import Ourstory from "../components/Ourstory.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="vanish-modal">
    <Hero />
    <hr class="max-w-4xl mx-auto"/>
    <FeaturedPrudcuts />
    <Ourstory />
    <Footer />
  </div>
</Layout>

<style is:global>
  h1,
  h2,
  h3 {
    font-family: var(--font-serif);
    font-weight: 600;
  }
  body,
  p,
  li,
  span,
  a,
  button {
    font-family: var(--font-sans);
  }
</style>
