<footer class="bg-[var(--color-5)] text-white py-4 px-6 lg:px-8 border-t border-gray-300 dark:border-gray-700 shadow-md">
    <div class="max-w-7xl flex flex-row items-center justify-between text-center lg:mx-24">
        <div class="flex justify-center">
            <div class="flex justify-center">
                <a href="https://twitter.com/artilate_" class="flex mr-8">
                    <img src="/assets/x.svg" alt="Twitter" class="w-5 h-auto lg:w-6" style="filter: invert(100%) brightness(100%); transition: filter 0.3s ease;" />
                </a>
            </div>
            <div class="flex justify-center">
                <a href="https://www.instagram.com/artilate/" class="flex">
                    <img src="/assets/ig.svg" alt="Instagram" class="w-5 h-auto lg:w-6" style="filter: invert(100%) brightness(100%); transition: filter 0.3s ease;" />
                </a>
            </div>
        </div>
        <p class="text-sm">© Artilate 2023 | All rights reserved</p>
</footer>