<footer class="bg-[var(--color-1)] text-white py-4 px-6 lg:px-8 border-t  shadow-md">
    <div class="max-w-7xl flex flex-row items-center justify-between text-center lg:mx-24">
        <div class="flex justify-center">
            <div class="flex justify-center">
                <a href="https://twitter.com/artilate_" class="flex mr-6 hov">
                    <img src="/assets/x.svg" alt="Twitter" class="w-5 h-auto lg:w-5.5" style="filter: invert(100%) brightness(100%); transition: filter 0.3s ease;" />
                </a>
            </div>
            <div class="flex justify-center">
                <a href="https://www.instagram.com/artilate/" class="flex hov">
                    <img src="/assets/ig.svg" alt="Instagram" class="w-5 h-auto lg:w-5.5" style="filter: invert(100%) brightness(100%); transition: filter 0.3s ease;" />
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/company/artilate/" class="flex ml-6 hov">
                    <img src="/assets/linkedin.svg" alt="linkedin" class="w-9 h-auto lg:w-10" style="filter: invert(100%) brightness(100%); transition: filter 0.3s ease;" />
                </a>
            </div>
            <div class="flex justify-center">
                <a href="https://twitter.com/artilate_" class="flex ml-3 hov">
                    <img src="/assets/facebook.svg" alt="Facebook" class="w-6 h-auto lg:w-7" style="filter: invert(100%) brightness(100%); transition: filter 0.3s ease;" />
                </a>
            </div>
        </div>
        <p class="text-sm">© Artilate 2023 | All rights reserved</p>
</footer>

<style>
    .hov:hover{
        filter: invert(36%) saturate(2953%)  brightness(100%);
    }
</style>