<header class="text-white w-full h-24" id="main-header">
  <div class="max-w-7xl m-auto grid grid-cols-3 items-center h-full gap-16">
    <!-- Columna izquierda: Enlaces de navegación -->
    <nav class="flex justify-between items-center space-x-8 text-lg font-medium">
      <a href="/products" class="transition hover:text-gray-300 text-xl">shop</a>
      <a href="#story" class="transition hover:text-gray-300 text-xl">our story</a>
    </nav>

    <!-- Columna central: Logo -->
    <div class="flex justify-center items-center">
      <a href="/" class="flex">
        <img src="/assets/logo_blanco.png" alt="Artilate Logo" class="w-32 h-auto" />
      </a>
    </div>

    <!-- Columna derecha: Enlaces de navegación -->
    <nav class="flex justify-between items-center space-x-8 text-lg font-medium">
      <a href="/track" class="transition hover:text-gray-300 text-xl">track</a>
      <a href="/cart" class="transition ml-2">
        <img
          src="/assets/cart.svg"
          alt="Cart"
          class="w-8 h-auto lg:w-10 hov"
        />
      </a>
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    z-index: 10;
    color: white;
    background-color: #0E0C15;
    padding: 3px;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 30px 24px;
  }

  .hov {
    filter: invert(100%) brightness(100%);
    transition: filter 0.3s ease-in-out;
  }

  .hov:hover {
    filter: invert(90%) saturate(2953%) brightness(75%);
  }
</style>
