---
import Layout from "../layouts/Layout.astro"

---

<Layout>
    <header class="bg-neutral-800 text-white p-4 flex justify-between items-center">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#shop">shop</a></li>
                <li><a href="/track">track</a></li>
                <li><a href="/story">our story</a></li>
                <li><a href="/cart">cart</a></li>
                
            </ul>
        </nav>
    </header>
</Layout>

