<header class="text-white w-full h-auto  " id="main-header">
  <div class="max-w-7xl mx-auto grid grid-cols-3 items-center">
    <!-- Columna izquierda: Enlaces de navegación -->
    <nav class="flex justify-center space-x-4 lg:space-x-8">
      <a href="/products" class="transition lg:mr-32 hover:text-gray-300">shop</a>
      <a href="#story" class="transition hover:text-gray-300">our story</a>
    </nav>

    <!-- Columna central: Logo -->
    <div class="flex justify-center">
      <a href="/" class="flex">
        <img src="/assets/logo_blanco.png" alt="Artilate Logo" class="w-24 h-auto" />
      </a>
    </div>

    <!-- Columna derecha: Enlaces de navegación -->
    <nav class="flex justify-center space-x-4 lg:space-x-8">
      <a href="/track" class="transition lg:mr-32 my-auto hover:text-gray-300">track</a>
      <div class="ml-5">
        <a href="/cart" class="transition">
          <img
            src="/assets/cart.svg"
            alt="Cart"
            class="w-8 h-auto lg:w-9 hov"
          />
        </a>
      </div>
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0; /* Para que el header se mantenga visible al hacer scroll */
    z-index: 10; /* Para que el header esté sobre otros elementos */
    color: white;
    background-color: #0E0C15;
    padding: 3px;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 30px 24px; /* Espaciado de las pepitas */
  }

  .hov {
    filter: invert(100%) brightness(100%);
    transition: filter 0.3s ease-in-out;
  }

  .hov:hover {
    filter: invert(90%) saturate(2953%)  brightness(75%);
}
 
</style>


