---
import ImgHero from "./ImgHero.jsx";
---

<div class="w-full h-auto">
  <ImgHero client:only />
  <div
    class="max-w-md md:max-w-2xl lg:max-w-xl absolute left-5 top-60 lg:top-[240px] lg:left-[375px] md:left-[180px]"
  >
    <h3 class="text-4xl lg:text-5xl text-center text-white max-w-md lg:ml-20 lg:mb-16 md:ml-10 ">
      Discover the unique flavors that will delight your mouth.<h3></h3>
      <div
        class="absolute lg:top-[175px] lg:left-[110px] md:top-[125px] md:left-[70px] text-center left-10 top-40">
        <p class="text-center text-white mb-6">
          Experience the art of fine chocolate craftsmanship.
        </p>
        <a href="/shop" class="">
          <button
            class={`px-4 py-2 rounded-md bg-[var(--color-1)] hover:bg-[var(--color-3)]/90 transition-colors ease-in-out duration-200 text-white relative z-1 shadow-xl `}
          >
            shop
          </button>
        </a>
      </div>
    </h3>
    <style>
      h3 {
        font-weight: 700;
      }
    </style>
  </div>
</div>
