---
import ImgStory from './imgStory.jsx';

---

<div class=" bg-[var(--color-5)] py-4 lg:px-8 border-t max-w-4xl mx-auto h-[100vh] flex lg:flex-row flex-col justify-center items-center text-center gap-4 px-8">
    <ImgStory img="/assets/about-us.webp" client:only/>
    <div class="max-w-md mx-auto" >
        <h3 class="text-3xl font-bold mb-4 text-center text-[var(--color-1)]">Our Story</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, sapiente rem. Nobis ratione, velit qui, similique ea saepe itaque deserunt magnam quia veritatis error alias voluptates illum quae, dolorum minima blanditiis impedit id repellendus laborum vel odio nemo quas iste. Molestiae ratione velit recusandae ut quidem repellat.
    </p>
    </div>
</div>


