---
export const prerender = true;
import {Products} from '../../constants/catalog.js';
import Layout from '../../layouts/Layout.astro';
---
<Layout>
    {
        Products.map((product) => {
            return (
                <a href={`/products/${product.id}`}>
                    <img src={product.image} alt={product.title} />
                </a>
            );
    })}
</Layout>
