---
import '../styles/global.css';
import { ClientRouter } from "astro:transitions";
import Header from '../components/Header.jsx';
import {CartProvider} from '../components/cart/context.jsx';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Handmade Chocolates & Cacao Beans | Artilate Artisan Chocolate</title>
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />

		<meta name="description" content="Artilate offers handcrafted chocolates and roasted cacao beans made with ethical sourcing and single origin quality. Discover artisan chocolate near you and shop premium cacao today.">
		<meta name="keywords" content="artisanal chocolate, artisan chocolate near me, handmade chocolates, handcrafted chocolate, cacao beans, roasted cacao beans, cocoa bean, single origin chocolate, gourmet chocolate, chocolate beans, chocolate gifts, Alberta chocolate, cacao seeds, chocolate made in Canada">
		<meta name="author" content="Artilate" />

		<!-- Open Graph / Facebook -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://artilate.com/" />
		<meta property="og:title" content="Handmade Chocolates & Cacao Beans | Artilate Artisan Chocolate" />
		<meta property="og:description" content="Artilate offers handcrafted chocolates and roasted cacao beans made with ethical sourcing and single origin quality. Discover artisan chocolate near you and shop premium cacao today." />
		<meta name="twitter:site" content="@artilate_" />

		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">

		<script src="https://analytics.ahrefs.com/analytics.js" data-key="an92Ngq+Kc8dbOJVIJJP4Q" async></script>
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4898c9c7ac6347c5ada445bfa750a42b"}'></script>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VH4GBK0XBK"></script>
        <script>
          {`
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-VH4GBK0XBK');
          `}
        </script>
		<ClientRouter />
	</head>
	<body>
		<CartProvider>
			<Header client:visible/>
			<slot />
		</CartProvider>
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
