<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Artisanal Chocolate & Seeds | Artilate - Consciously Made</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Discover Artilate's artisanal chocolates and seeds, crafted with care from a single origin. Experience unique flavors and ethical sourcing. Shop now!">

		<meta name="keywords" content="artisanal chocolate, single origin chocolate, ethically sourced chocolate, unique flavors, gourmet chocolate, chocolate gifts, chocolate shop, artisanal seeds, healthy snacks, organic seeds">
		<meta name="author" content="Artilate" />

		<!-- Open Graph / Facebook -->

		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://artilate.com/" />
		<meta property="og:title" content="Artisanal Chocolate & Seeds | Artilate - Consciously Made" />
		<meta property="og:description" content="Discover Artilate's artisanal chocolates and seeds, crafted with care from a single origin. Experience unique flavors and ethical sourcing. Shop now!" />
		<meta name="twitter:site" content="@artilate_" />
		<meta property="og:image" content="" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
